[Desktop Entry]
Version=17.0
Terminal=false
Icon=/usr/local/Stata17/stata17.png
Type=Application
Categories=Education;Scientific;
Exec=/usr/local/Stata17/xstata-se
Name=Stata/SE 17.0
Comment=Perform statistical analyses using Stata.
StartupNotify=true
MimeType=application/x-stata-dta;application/x-stata-do;application/x-stata-smcl;application/x-stata-stpr;application/x-stata-gph;application/x-stata-stsem;
Actions=doedit;use;view;graphuse;projmanag;semopen
