[Desktop Entry]
Version=R2019b
Type=Application
Terminal=false
Exec=/usr/local/MATLAB/R2019b/bin/matlab -desktop
Name=MATLAB R2019b
Icon=/usr/local/MATLAB/R2019b/bin/glnxa64/cef_resources/matlab_icon.png
Categories=Development;Scientific;Science;Education
Comment=Scientific computing environment
StartupNotify=true
StartupWMClass=com-mathworks-util-PostVMInit
